body {
	margin: 0;
	padding: 0;
	font-family: 'Raleway', sans-serif;
}

#blurred-image-container {
	display: block;
	padding: 0;
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: -1;
}

.img-src{
	position: absolute;
	background:url("static/bg.jpg") no-repeat center center fixed;
	background-size: cover;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	min-width: 50%;
	min-height: 50%;
}

.center{
	text-align: center;
	text-decoration: underline;
	margin-top: 50px;
}

.img-src.blurred-image {
	opacity: 0;
	-webkit-filter: blur(20px) brightness(0.7);
	-ms-filter: blur(20px) brightness(0.7);
	-o-filter: blur(20px) brightness(0.7);
	filter: blur(20px) brightness(0.7);
}

.title {
	color: black;
	font-size: 50px;
	font-weight: normal;
	margin-top: 230px;
	margin-bottom: 0;
}

.Project-title {
	color: black;
	font-size: 60px;
	margin: 0 auto;
	margin-top: 300px;
	text-align: center;
}

.contact {
	color: black;
	margin: 0 auto;
	text-align: center;
	margin-top: 100px;
}

h2 {
	color: black;
	font-size: 30px;
	margin-top: 7px;
	margin-bottom: 0;
}

.bio {
	color: black;
	font-size: 14px;
	line-height: 200%;
}

.avatar {
	float: right;
	vertical-align: middle;
	border-radius: 100%;
	border-style: solid;
	border-color: white;
	width: 100%;
}

.link_avatar{
	width: 40px;
}

.links{
	margin-top: 20%;
}

.about {
	order:0;
}

.about-img {
	order: 1;
	align-self: flex-end;
}

.container {
	width: 1000px;
	margin-left: 90px;
}

.personal{
	text-align: left;
	margin-top: 150px;
}

.undergrad{
	text-align: left;
	margin-top: 50px;
}

.nav-fill > li.nav-item > a, 
.nav-fill > .li.nav-item > a:hover
.nav-fill > .li.nav-item > a:focus {
    color: black;
}

.nav-fill > li.nav-item > a:hover {
	background-color: rgba(0,0,0,0.05);
}

.projects{
	margin-top: 50px;
}

.project1{
	margin-top: 150px;
}

@media (max-width: 768px) { 
	.about {
		order:1;
	}
	.title {
		margin-top: 0px;
	}
	.about-img {
		order: 0;
	}
 }