body {
	background: url('bg.jpg') no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	font-family: 'Raleway', sans-serif;
}

h1 {
	color: black;
	font-size: 50px;
	font-size: 3vw;
	font-weight: normal;
	margin-top: 10%;
	margin-bottom: 0;
}

h2 {
	color: black;
	font-size: 25px;
	font-size: 2vw;
	margin-top: 0;
	margin-bottom: 0;
}

.contact {
	color: black;
	font-size: 25px;
	font-size: 2vw;
	margin-bottom: 0;
}

.contact2 {
	color: black;
	font-size: 14px;
	font-size: 1vw;
	line-height: 200%
}

.bio {
	color: black;
	font-size: 14px;
	font-size: 1vw;
	line-height: 200%;
}

.align img {
	float: right;
	margin-right: 10%;
	width: 18%;
	margin-top: 40px;
	border-radius: 100%;
	border-style: solid;
	border-color: white;
}

.align {
	width: 100%;
	clear: both;
}

.container {
	width: 95%;
	min-width: 600px;
	margin-left: 5%;
}